/*
#04050C blackcurrant
#CFADFF Mauve
#FAE9B3 banana mania
#DE5B54 flamingo
*/

* {
    font-family: 'Source Sans Pro', sans-serif;
}

html {
    background-color: #FAE9B3;
}

h1, h2, h3 {
    display:flex;
    justify-content: left;
    color: #04050C;
    max-width: 650px;
}

p {
    font-family: 'EB Garamond', serif;
    color: #04050C;
    display: flex;
    justify-content: left;
    max-width: 600px;
}

.about {
    display: flex;
    flex-direction: row;
}

.navbar {
    position: sticky;
    top: 0;
}

.navbar li {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: row;
    text-align: center;
    font-size: 25px;
    margin: 0%;
    background-color:#CFADFF;
}

.navbar a, .blognav a {
    text-decoration: none;
    color: #04050C;
}

.navbar li:hover, .blognav a:hover {
    background-color:#DE5B54;
}

.navbar li:visited, .blognav ul:visited  {
    background-color: #CFADFF;
}

.blognav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: left;
}

#JSBackground p, #variables p{
    font-family: 'EB Garamond', serif;
    max-width: 750px;
}

#photo {
    max-width: 300px;
    max-height: 700px;
    margin-left: 10px;
    padding-top: 50px;

}
.anime {
    margin-left: 40px;
}

pre code {
    font-family: monospace;
    border: 1px solid #DE5B54;
    display: block;
    background-color:#CFADFF;
    color:#04050C;
    max-width: 500px;
}