/*
#faf4ed
#232136 rose pine moon base
#3e8fb0 rose pine moon pine
#f2e9e1

*/

* {
    font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (max-width:600px) {
    main {
        display:flex;
        flex-direction: column;
    }
}

footer {
    position:fixed;
    bottom:15px;
    width: 100%;
    text-align: center;
}

html {
    background-color: #faf4ed;
}

h1 {
    color:#232136 ;
    max-width: 650px;
}

p {
    font-family: 'EB Garamond', serif;
    color: #232136;
}

.navbar{
    display: flex;
    list-style-type: none;
    justify-content: right;
    align-items: stretch;
    flex-direction: row;
    text-align: right;
}

.navbar a {
    text-decoration: none;
    margin-right: 15px;
    font-size:25px;
    color:#3e8fb0;
}

.navbar a:hover {
    color:#232136;
}

button {
    border: 0;
    background-color:#faf4ed;
    color: #3e8fb0;
    font-size: 35px;
    text-align:center;
}

button:hover {
    color: #232136;
}

.newnote{
    border: 0;
    background-color:#faf4ed;
    color: #3e8fb0;
    margin-left:250px;
}
.createnote {
    font-size:25px;
}

.slideout {
    padding-left:50px;
    font-size:25px;
    background-color: #f2e9e1;
    border: 0;
}

.mainnote {
    border: 0;
    color: #3e8fb0;
    font-size: 20px;
}

.noteslist {
    border: 0;
    color: #3e8fb0;
    font-size: 15px;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
}


textarea {
    font-size: 15px;
    outline: none;
    resize: none;
    order: none;
}

.save {
    border: 0;
    background-color:#faf4ed;
    color: #3e8fb0;
    font-size: 15px;
}

.delete {
    border: 0;
    background-color:#faf4ed;
    color: #232136;
    font-size: 15px;
}

.delete:hover {
    color: #3e8fb0;
}

.entirepage {
    display:flex;
    flex-direction: row;
    height: 100vw;
}

.leftside {
    width: 15vw;
    background-color:#f2e9e1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mainnote, .noteslist{
    background-color:#f2e9e1;
}

.rightside{
    width: 85vw;
}

.textbox_area{
    margin: auto;
    width: 50%;
    padding-top: 10%;
    display:flex;
    flex-direction: row;
}

.savedel{
    padding-left:30%;
}