/*
#faf4ed
#232136 rose pine moon base
#3e8fb0 rose pine moon pine
#907aa9

*/

* {
    font-family: 'Source Sans Pro', sans-serif;
}

footer {
    position:absolute;
    bottom:15px;
    width: 100%;
    text-align: center;
}

html {
    background-color: #faf4ed;
}

h1, h2, h3 {
    display:flex;
    justify-content: left;
    color:#232136 ;
    max-width: 650px;
}

p {
    font-family: 'EB Garamond', serif;
    color: #232136;
    display: flex;
    justify-content: left;
    max-width: 600px;
}

.navbar{
    display: flex;
    list-style-type: none;
    justify-content: right;
    align-items: stretch;
    flex-direction: row;
    text-align: right;
}

.navbar a {
    text-decoration: none;
    margin-right: 15px;
    font-size:25px;
    color:#232136;
}

.navbar a:hover {
    color:#3e8fb0;
}

@media screen and (max-width:600px) {
    main {
        display:flex;
        flex-direction: column;
    }
}

button {
    border: 0;
    background-color:#faf4ed;
    color: #3e8fb0;
    font-size: 35px;
}

button:hover {
    color: #232136;
}

.createnote {
    padding-left: 250px;
    font-size:20px;
}

.slideout {
    padding-left:150px;
    font-size:25px;
}

.noteslist {
    border: 0;
    background-color:#faf4ed;
    color: #3e8fb0;
    font-size: 15px;
    text-decoration:none;
    
}